workflows/workflow-pod-monitor-mcp-granite.json
{
  "name": "OpenShift Pod Monitor - MCP + Granite + Email",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "ns", "name": "namespace", "value": "maximilianopizarro5-dev", "type": "string"},
            {"id": "email", "name": "destinationEmail", "value": "maximiliano.pizarro.5@gmail.com", "type": "string"},
            {"id": "mcp-url", "name": "mcpServerUrl", "value": "http://openshift-mcp-server.maximilianopizarro5-dev.svc.cluster.local:8080/mcp", "type": "string"},
            {"id": "litellm-url", "name": "litellmUrl", "value": "http://openshift-mcp-server-litellm.maximilianopizarro5-dev.svc.cluster.local:4000", "type": "string"},
            {"id": "litellm-key", "name": "litellmApiKey", "value": "sk-openshift-mcp-1234", "type": "string"},
            {"id": "model", "name": "modelName", "value": "granite", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.mcpServerUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Accept", "value": "application/json, text/event-stream"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"monitorDeployments\",\n    \"arguments\": {\n      \"namespace\": \"{{ $json.namespace }}\"\n    }\n  }\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "mcp-monitor",
      "name": "MCP: monitorDeployments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Parameters').item.json.litellmUrl }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Set Parameters').item.json.litellmApiKey }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('Set Parameters').item.json.modelName }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an OpenShift operations assistant. Analyze deployment monitoring data retrieved from the MCP Server and generate a structured HTML report. Include deployment health, replica status, and recommendations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"The following deployment monitoring data was retrieved via the OpenShift MCP Server (monitorDeployments tool) for namespace '{{ $('Set Parameters').item.json.namespace }}':\\n\\n{{ JSON.stringify($json) }}\\n\\nProvide a detailed analysis including: total deployments, healthy vs unhealthy, replica mismatches, and actionable recommendations. Format as clean HTML with tables and color-coded status indicators.\"\n    }\n  ],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.3\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ai-analysis",
      "name": "AI: Analyze Deployments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiReport = $input.first().json.choices[0].message.content;\nconst params = $('Set Parameters').first().json;\nconst model = $input.first().json.model || params.modelName;\nconst tokens = $input.first().json.usage ? $input.first().json.usage.total_tokens : 'N/A';\nconst ts = new Date().toISOString();\n\nconst html = `<html><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Red Hat Display,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;\"><tr><td align=\"center\" style=\"padding:24px;\"><table width=\"640\" style=\"max-width:640px;width:100%;\"><tr><td style=\"background:#151515;padding:16px 32px;border-radius:8px 8px 0 0;\"><span style=\"color:#EE0000;font-size:20px;font-weight:700;\">Red Hat</span><span style=\"float:right;color:#C6C6C6;font-size:12px;line-height:28px;\">OpenShift Developer Sandbox</span></td></tr><tr><td style=\"background:#DC382D;padding:28px 32px;\"><h1 style=\"margin:0;font-size:24px;color:#FFF;\">Deployment Monitor Report</h1><p style=\"margin:6px 0 0;font-size:14px;color:rgba(255,255,255,.85);\">MCP Tool: monitorDeployments | Model: ${model}</p></td></tr><tr><td style=\"background:#292929;padding:0;\"><table width=\"100%\"><tr><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">${params.namespace}</b>Namespace</td><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">${ts}</b>Generated</td><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">${model}</b>AI Model</td><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;width:25%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">${tokens}</b>Tokens</td></tr></table></td></tr><tr><td style=\"background:#FFF;padding:28px 32px;\"><h2 style=\"margin:0 0 16px;font-size:17px;border-bottom:2px solid #DC382D;padding-bottom:10px;\">AI Analysis Report</h2><p style=\"font-size:11px;color:#6A6E73;margin:0 0 16px;\">Pipeline: MCP Server (monitorDeployments) → AI Analysis → Mailpit</p>${aiReport}</td></tr><tr><td style=\"background:#F5F5F5;padding:16px 32px;border-top:1px solid #E0E0E0;text-align:center;\"><span style=\"display:inline-block;background:#EE0000;color:white;font-size:10px;font-weight:700;padding:4px 10px;border-radius:3px;\">RED HAT</span> <span style=\"font-size:11px;color:#6A6E73;margin:0 8px;\">OpenShift MCP</span> <span style=\"font-size:11px;color:#DC382D;font-weight:600;margin:0 8px;\">${model}</span> <span style=\"font-size:11px;color:#6A6E73;margin:0 8px;\">n8n</span></td></tr><tr><td style=\"background:#151515;padding:20px 32px;border-radius:0 0 8px 8px;text-align:center;\"><p style=\"margin:0;font-size:12px;color:#A3A3A3;\">Auto-generated by n8n on <b style=\"color:#FFF;\">Red Hat OpenShift Developer Sandbox</b></p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{\n  json: {\n    html,\n    subject: `[Red Hat OpenShift] Deployment Monitor Report | ${params.namespace} | ${ts}`,\n    destinationEmail: params.destinationEmail,\n    namespace: params.namespace,\n    timestamp: ts\n  }\n}];"
      },
      "id": "build-report",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-mailpit:8025/api/v1/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"From\": {\"Name\": \"n8n Workflow\", \"Email\": \"no-reply@n8n.local\"},\n  \"To\": [{\"Name\": \"\", \"Email\": \"{{ $json.destinationEmail }}\"}],\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HTML\": {{ JSON.stringify($json.html) }}\n}",
        "options": {"timeout": 30000}
      },
      "id": "send-mailpit",
      "name": "Send via Mailpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Set Parameters", "type": "main", "index": 0}]]},
    "Set Parameters": {"main": [[{"node": "MCP: monitorDeployments", "type": "main", "index": 0}]]},
    "MCP: monitorDeployments": {"main": [[{"node": "AI: Analyze Deployments", "type": "main", "index": 0}]]},
    "AI: Analyze Deployments": {"main": [[{"node": "Build HTML Report", "type": "main", "index": 0}]]},
    "Build HTML Report": {"main": [[{"node": "Send via Mailpit", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [{"name": "OpenShift", "id": "openshift-tag"}, {"name": "MCP", "id": "mcp-tag"}, {"name": "AI", "id": "ai-tag"}],
  "pinData": {}
}
